doctype html
html(lang='en')
    head
        title Time Keeper
        link(
            rel="stylesheet"
            href="main.css"
        )
        script(
                src="https://unpkg.com/htmx.org@2.0.2"
                integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
                crossorigin="anonymous")
            
    body
        h1 Time Keeper
        h2#time
        div
            button(
                    hx-post="/clock"
                    hx-swap="innerHTML"
                    hx-vals='js:{"date":new Date().toJSON()}'
                    ) Clock In

        script.
            function getTime() {
                let date = new Date();
                let hours = date.getHours();
                let minutes = date.getMinutes();
                let seconds = date.getSeconds();
                let suffix = 'AM';
                if (hours > 12) {
                    suffix = 'PM';
                }
                hours %= 12;

                minutes = (minutes < 10) ? "0" + minutes: minutes;
                seconds = (seconds < 10) ? "0" + seconds: seconds;

                return hours + ":" + minutes + ":" + seconds + " " + suffix;
            }
            document.getElementById("time").innerText = getTime();
            setInterval(function() {
                document.getElementById("time").innerText = getTime();
             }, 1000);

